@model IEnumerable<CapstoneProject.Models.Product>

    @{
    ViewData["Title"] = "Products";
    }

    <h1>Products</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-action="Products" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Products">Back to Full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Products" asp-route-sortOrder="@ViewData["NameSortParm"]">Product Name</a>
                </th>
                <th>
                    Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Dietary Restrictions
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AmountQty)*@ Amount Quantity
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.MinProductOrderPoint)*@ Minimum Order Point
                </th>
                <th>
                    Image
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.isVisable)*@ Visible
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DietaryRestrictions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinProductOrderPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isVisable)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
}
        </tbody>
    </table>
